{% extends 'base.html'%}
{%block title%}
    Registrar Empleado
{% endblock %}
{%block body%}
<div class="total">
    <form method="post" class="">
        <div class="input-group contenedor2"></div>
            <span class="input-group-text titulo topmarginform">Nombre</span>
            <input type="text" class="form-control formulario">
            <span class="input-group-text titulo topmarginform">DNI</span>
            <input type="text" class="form-control formulario ">
            </div>
        <span class="input-group-text titulo topmarginform" id="inputGroup-sizing-sm formulario">Telefono</span>
        <input type="text" class="form-control formulario">
        <div class="topmargintb">
        <input type="submit" value="Añadir Empleado " class="topmarginform">
            </div>
    </form> 

    </div>


    {% endblock %}